aside{
    grid-area: aside;
}
body{
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'header header header header'
                         'section section section section'
                         'aside aside aside aside'
                         'footer footer footer footer';
    grid-template-columns: 24.7vw 24.7vw 24.67vw 24.7vw;
    grid-template-rows: 78vh 35vh 50vh 50vh 17vh;
    margin: 0; 
}
button{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; 
    width:100px;
    height: 30px;
}
footer{
    align-items: center;
    background-color: #e3e3e3;
    display: flex;
    grid-area: footer;
    justify-content: space-around;
}   
footer div a{
    color: #909090;
    font-family: 'Roboto', sans-serif; 
    text-decoration: none;
    padding: 10px;
}
header{
    align-items: center;
    display: flex;
    grid-area: header;
    justify-content: space-around;
    text-align: center;
    margin: 0 70px 0 70px;
} 
header div{
    align-items: center;
    display: flex;
    flex-direction: column;
    width:280px;
}
header div h3{
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 17pt;
    margin: 10px 0 0 0;
}
header div p{
    color: gray;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}
header div span{
    background-color: #2dcc70;
    border-radius: 100%;
    height: 80px;
    width: 80px;
}
header div span img{
    padding: 16px;
}
#mao{
    height: 400px;
}
nav{
    background-image: url("../images/banner.png");
    border-top: solid;
    border-top-width: 8px;
    border-top-color: #114e2a;
    display: flex;
    justify-content: space-around;
    grid-area: nav;
}
nav div h1{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 30pt;
    margin:0;
}
nav div p{
    color: white;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
}
nav div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 17vw;
    padding: 3vw;
}
nav div:nth-child(2){
    align-items: flex-end;
    display: flex;
    margin-right: 15vw;
}
nav div div{
    display: flex;
}
nav div div span{
    background-color: black;
    border-radius: 100%;
    height: 50px;
    margin-right: 5px;
    opacity: 0.6;
    width: 50px;
}
nav div div span img{
    width: 26px;
    height: 26px;
    padding: 12px;
}
nav div div span:hover{
    border-radius: 100%;
    background-color: #2dcc70;
    opacity: 1;
}
section{
    align-items: center;
    background-color: #e3e3e3;
    display: flex;
    font-family: 'Roboto', sans-serif;
    grid-area: section;
}
section div p{
    color: #8e8e8e;
}



