aside{
    font-family:'Roboto', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: aside;
}
aside h5{
    font-size: 12pt;
    margin: 1.5vw 0 1.5vw 0;  
}
aside h2{
    font-size: 20pt;
    margin: 3.2vw 0 0.7vw 0;
}
aside div{
    display: flex;
}
aside div span{
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
}
aside div span a{
    display: flex;
    justify-content: center;
}
aside div span a img{
    align-items: center;
}
aside p{
    color:#a6a6a6;
    margin:1vw 0 2vw 0;   
}
aside p:nth-child(1){
    font-style: italic;
    text-align: center;
    margin: 3vw 10vw 0 10vw;  
}
aside div span a img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(1000%);
    filter:white;
}
body{
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'header header header header'
                         'section section section section'
                         'aside aside aside aside'
                         'footer footer footer footer';
    grid-template-columns: 24.7vw 24.7vw 24.67vw 24.7vw;
    grid-template-rows: 78vh 35vh 50vh 70vh 17vh;
    margin: 0; 
}
button{
    background-color: #2dcc70;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; 
    color: white;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13.5pt; 
    width:100px;
    height: 40px;
} 
footer{
    align-items: center;
    background-color: #e3e3e3;
    display: flex;
    grid-area: footer;
    justify-content: space-around;
}   
footer div a{
    color: #909090;
    font-family: 'Roboto', sans-serif; 
    text-decoration: none;
    padding: 10px;
}
header{
    align-items: center;
    display: flex;
    grid-area: header;
    justify-content: space-around;
    text-align: center;
    margin: 0 70px 0 70px;
} 
header div{
    align-items: center;
    display: flex;
    flex-direction: column;
    width:280px;
}
header div h3{
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 17pt;
    margin: 10px 0 0 0;
}
header div p{
    color: gray;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}
header div span{
    background-color: #2dcc70;
    border-radius: 100%;
    height: 80px;
    width: 80px;
}
header div span img{
    padding: 16px;
}
input{
    border:0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px; 
    width: 250px;
    height: 40px;
    padding: 0; 
}
#mao{
    height: 400px;
}
nav{
    background-image: url("../images/banner.png");
    border-top: solid;
    border-top-width: 8px;
    border-top-color: #114e2a;
    display: flex;
    justify-content: space-around;
    grid-area: nav;
}
nav div h1{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 30pt;
    margin:0;
}
nav div p{
    color: white;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
}
nav div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 17vw;
    padding: 3vw;
}
nav div:nth-child(2){
    align-items: flex-end;
    display: flex;
    margin-right: 15vw;
}
nav div div{
    display: flex;
}
nav div h1 span{
    color: #2fce6d;
}
nav div div span{
    background-color: black;
    border-radius: 100%;
    height: 50px;
    margin-right: 5px;
    opacity: 0.6;
    width: 50px;
}
nav div div span img{
    width: 26px;
    height: 26px;
    padding: 12px;
}
nav div div span:hover{
    border-radius: 100%;
    background-color: #2dcc70;
    opacity: 1;
}
section{
    align-items: center;
    background-color: #e3e3e3;
    display: flex;
    font-family: 'Roboto', sans-serif;
    grid-area: section;
}
section div:nth-child(1){
    margin-left: 10vw;
}
section div iframe{
    border-radius: 10px;
    margin: 0 10vw 0 10vw;
}
section div p{
    color: #8e8e8e;
}
section div div input::placeholder{
    color: #a4a4a4;
    padding-left: 15px;
}


